// Light mode color variables
$primary-light: green;
$secondary-light: 50% green;
$tertiary-light: 25% green;
$primary-light-text: black;
$secondary-light-text: rgb(92, 92, 92);
$tertiary-light-text: darkgray;

// Dark mode color variables
$primary-dark: blue;
$secondary-dark: 50% blue;
$tertiary-dark: 25% blue;
$primary-dark-text: white;
$secondary-dark-text: grey;
$tertiary-dark-text: lightgray;

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}

html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#image-container {
  display: flex;
  position: relative;
  height: 100%;
  width: 50%;
  margin: 0;
  padding: 0;
}

#login-sidebar-image {
  // display: block;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  // top: 50%;
  // transform: translateY(5%);
}

#login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  width: 50%;
}

#login-group {
  // border:rgb(92, 92, 92) 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  font-family: 'Press Start 2P';
  // align-items: center;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login-input {
  width: 50%;
  font-family: 'Press Start 2P';
}

#login-button {
  width: 51%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Press Start 2P';
}

#sign-up-link {
  font-size: x-small;
}